.container {
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #fff;
  width: 888px;
  height: 368px;
}

.img {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  /* object-fit: cover;
  object-position: center; */
  /* background: url(../../images/background.jpg) lightgray -57.393px -4.801px /
    195.679% 103.001% no-repeat; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Рівномірний розподіл елементів по висоті */
  height: 100%; /* Повна висота відносно батька */
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 8px;
}

.title {
  color: #101828;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}

.price {
  display: flex;
  width: 156px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.iconHeart {
  width: 26px;
  height: 24px;
}

.info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.listInfo {
  display: flex;
  gap: 16px;
}

.itemInfo {
  display: flex;
  align-items: center; /* Вирівнюю іконку і текст по центру по вертикалі */
}

.textInfo {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  margin-left: 4px;
}

.itemInfo:first-child .textInfo {
  text-decoration-line: underline;
}

.iconInfo {
  width: 16px;
  height: 16px;
}

.itemInfo:first-child .iconInfo {
  fill: #ffc531;
}

.text {
  display: -webkit-box;
  width: 525px;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 1; */
  overflow: hidden;
  color: #475467;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  margin-bottom: 24px;
}

.options {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.listOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-self: stretch;
  justify-content: flex-start; /* Притискає елементи до лівого краю */
}

.itemOptions {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  flex-basis: calc(
    (100% - 16px) / 3
  ); /* Ділить простір на три рівні частини з урахуванням відступів */
  flex-grow: 0; /* Запобігає розтягуванню елементів */
  flex-shrink: 0; /* Запобігає стисненню елементів */
}

.iconOptions {
  width: 20px;
  height: 20px;
}

.textOptions {
  color: #101828;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}

.button {
  display: flex;
  width: 166px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: none;
  background: #e44848;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: -0.08px;
}

.button:hover,
.button:focus {
  background: #d84343;
}
